body {
  background-color: whitesmoke !important;
}

/* ======================================== Home Page ========================================= */

.content_container {
  margin: auto;
  width: 95%;
  display: grid;
  grid-template-areas:
    'Searchbar Searchbar Searchbar Searchbar Searchbar'
    'HighlightVideo HighlightVideo HighlightVideo HighlightVideo HighlightVideo'
    'TrackList Feed Feed Feed Feed';
  align-content: center;
  grid-gap: 10px;
  padding: 10px;
  background-color: aqua;
}

.content_container > div {
  justify-content: center;
  text-align: center;
  background-color: whitesmoke;
}

.searchbar {
  grid-area: Searchbar;
}

.highlight-video {
  grid-area: HighlightVideo;
}

.trackerlist {
  grid-area: Tracklist
}

.feed {
  grid-area: Feed;
}


/* ==================== Search Bar ===================== */

#searchbar {
  margin: auto;
  padding: 1%;
}

#searchbar > input {
  width: 30%
}

/* ==================== Highlighted Video ===================== */

#highlighedVideo {
  padding: 2%;
}

#highlightedVideoHeading {
  margin-top: -20px;
  margin-bottom: 10px;
}

/* ==================== Player Card ===================== */

.Trackerlist {
  padding: 10px 15px 10px 15px
}

.playerCard {
  margin: auto;
  display: grid;
  grid-template-areas: 'playerPic playerInfo playerInfo';
  grid-gap: 30px;
  padding: 5px;
  justify-content: center;
  background-color: whitesmoke;

}

.playerCard > div {
  background-color: white;
  width: 200px;
  border: 2px red solid;

}

.playerPicture {
  grid-area: playerPic;
  width: 163px;
  height: 114px;
}

.playerInfo {
  grid-area: playerInfo;
}

/* ======================================== HIGHLIGHT LIBRARY ========================================= */

.videosContainer {
  margin: auto;
  align-content: center;
  justify-content: center;
  width: 90%
}

.mainVideo {
  margin: auto;
  align-content: center;
  justify-content: center;
  display: flex;
}

.weeklyHighlightVideos {
  margin-bottom: 20px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.dailyHighlightVideos {
  margin-bottom: 20px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.fullGameHighlights {
  margin-bottom: 20px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.vidColumn {
  justify-content: center;
  margin-right: 10px;
}

.videoThumbnail {
  margin: auto;
  width: 90%;
  height: 155px;
}

.redditClipContainer {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.redditHeader {
  margin-top: 50px;
  margin-bottom: 50px;
}

.redditStreams {
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 100px;
  justify-content: space-around;
}

.redditClips {
  margin-right: 10px;
  width: 720px;
  height: 405px;
}

.redditClip {
  width: 100%;
  height: 100%
}

/* ======================================== ADVANCED PLAYER SEARCH ========================================= */

.advancedSearchContent {
  margin: auto;
  width: 95%;
  align-content: center;

}

/* ======================================== PLAYER PROFILE ========================================= */

.playerProfileContainer {
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  background-color: white;
}

.playerProfilePicture {
  width: 260px;
  height: 190px;
}

.playerInfo {
  margin-bottom: 10px;
}

.playerProfile {
  background-color: salmon;
  width: 500px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.playerTable {
  background-color: aqua;
  table-layout: fixed;
  width: 100%;
}

.playerTable tr td {
  padding: 5px 5px 5px 5px;
  border: 1px solid grey;
  text-align: start;
}

.playerFeed {
  padding: 10px 20px 10px 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  width: 100%
}

.statsTable {
  background-color: aqua;
  table-layout: fixed;
  width: 100%;
}

.statsTable tr td {
  padding: 5px 5px 5px 5px;
  border: 1px solid grey;
  text-align: start;
}

#statsHeader {
  padding-bottom: 10px;
  border-bottom: 2px solid cyan;
  width: 100%;
}

.statsHeading {
  padding: 10px 10px 10px 10px
}




/* ======================================== FEED ITEM ========================================= */

.feedContainer {
  padding: 10px 20px 10px 20px
}

.feedItemContainer {
  display: flex;
  margin-bottom: 20px;
  padding: 5px 5px 5px 5px;
  border: 2px solid #08a4a7;
}

.embeddedTweet {
  justify-content: center;
  align-items: center;
}

.feedLogo {
  height: 80px;
  width: 80px;
}

.feedItem {
  width: 100%;
  padding: 10px;
  text-align: start;

}

/* =========================================== LOGIN AND REGISTER PAGE ============================================ */

.loginRegisterContainer {
  margin: auto;
  display: grid;
  justify-content: center;
  text-align: center;
}

.loginContainer {
  margin-top: 10%;
  height: 250px;
  width: 400px;
  justify-content: center;
  border: 2px solid cyan;
}

.registerContainer {
  margin-top: 10%;
  height: 350px;
  width: 400px;
  justify-content: center;
  border: 2px solid cyan;
}

.loginInput {
  width: 90%;
  margin-bottom: 20px;
  border: 1px solid #4dfed1;
}

.loginHeader {
  margin-top: 20px;
  margin-bottom: 20px;
}

.loginButton {
  width: 90%;
  background-color: #08a4a7;
  margin-bottom: 20px;
  color: white;
  border: none;
}